body{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.points{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}